etc/SCexport.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SCexport">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="FilenameScheme">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Format" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="Hook" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="PostExportHook">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Command" type="xs:string" />
                            <xs:element name="Args" type="xs:string" />
                            <xs:element name="SupportedFileExtensions" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>