etc/SCexport.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SCexport">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="FilenameScheme">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                                <xs:element name="ProjectNumber" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Hyphen" minOccurs="0" maxOccurs="1"/>
                                <xs:element name="SheetNumber" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Revision" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Discipline" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element name="Underscore" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="label" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="PDFTagSettings" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Author" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="NonIssueTag" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PostPDFExportHook" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Command" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="Args" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PostDWGExportHook" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Command" type="xs:string" minOccurs="0" maxOccurs="1"/>
                            <xs:element name="Args" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>