etc/SCexport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SCexport">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="FilenameScheme">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="ProjectNumber" />
                <xs:element name="Hyphen" />
                <xs:element name="Discipline" type="xs:string" />
                <xs:element name="SheetNumber" />
                <xs:element name="Underscore" />
                <xs:element name="Revision" />
                <xs:element name="SheetName" />
                <xs:element name="Text" type="xs:string" />
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="label" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="PDFTagSettings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Author" type="xs:string" />
              <xs:element name="NonIssueTag" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>